extends layout.pug

block content
  h1.title Meals
  ul
    each meal in meals
      if meal.openednewpackage
        li #{meal.timestamp.toLocaleString()} - #{meal.name} - #{meal.packageportion} package - New package opened!
      else
        li #{meal.timestamp.toLocaleString()} - #{meal.name} - #{meal.packageportion} package  
